.footer {
	background-color: #151618;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;
}

.main_container {
	display: flex;
	flex-direction: column;
	gap: 3.125vw;
	padding-top: 2.5vw;
	padding-bottom: 2.5vw;
	max-width: 62.5vw;
	width: 100%;
	@media (max-width: 1500px) {
		max-width: 80vw;
	}
	@media (max-width: 768px) {
		max-width: 90vw;
	}
}

.footer__top {
	display: flex;
	gap: 1.66667vw;
	justify-content: space-between;
	.storeWrap {
		position: relative;
	}
	.icon {
		position: absolute;
		bottom: -30%;
		right: -30%;
		transform: rotate(-120deg);
		max-width: 110px;
		@media (max-width: 1600px) {
			display: none;
		}
	}
	.storeList {
		display: flex;
		flex-direction: column;
		gap: 0.60364vw;
	}
	.columnWrap {
		display: flex;
		justify-content: space-between;
		gap: 4.239vw;
		max-width: 32.5vw;
		width: 100%;
	}
	
}
.column {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.columnTitle {
	font-family: 'CoFo Sans';
	font-weight: 500;
	font-size: 0.9375vw;
	line-height: 1.25vw;
	color: #fff;
}
.columnList {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.columnItem {
	color: #BCBDBD;
	font-size: 0.83333vw;
	line-height: 1.25vw;
	a, span {
		transition: all 0.3s ease;
		&:hover {
			color: #fff;
		}
	}
}
.feedback {
	display: flex;
	flex-direction: column;
	gap: 6px;
	padding: 0.83333vw;
	border-radius: 8px;
	background-color: #212329;
	max-width: 20.8333vw;
	.link {
		color: #fff;
		font-size: 0.9375vw;
		line-height: 1.25vw;
		letter-spacing: -0.36px;
		cursor: pointer;
	}
	p {
		font-size: 0.83333vw;
		line-height: 1.25vw;

		color: #fff;

	}
	button {
		margin-top: 1.25vw;
		padding: 0.3645833vw 1.25vw;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 0.72916vw;
		line-height: 1.0416667vw;
		background-color: #0BA3AD;
		color: #fff;
		border-radius: 5px;
		width: fit-content;
		transition: all 0.3s ease;
		&:hover, &:focus {
			opacity: 0.6;
		}
	}
}
.footer__bottom {
	margin-top: 0.5vw;
	display: flex;
	gap: 3.542vw;
	.socialLink {
		display: flex;
		gap: 8px;
		align-items: center;
		span {
			color: #fff;
			font-size: 0.83333vw;
			line-height: 1.25vw;
			letter-spacing: -0.32px;
		}
	}

	
}

@media (max-width: 768px) {
	.footer {
		width: 100%;
		height: fit-content;
		display: flex;
		align-items: center;
		justify-content: center;
		padding-top: 4.1538vw;
		padding-bottom: 4.1538vw;

		position: relative;
		overflow: hidden;

		
	}
	.footer__top {
		flex-direction: column;
		gap: 3vw;
		.storeList {
			flex-direction: row;
			justify-content: center;
			flex-wrap: wrap;
			gap: 3vw;
		}
		.columnWrap {
			max-width: none;
		flex-direction: column;

		}
		.columnList {
			flex-direction: row;
			flex-wrap: wrap;
		}
		.columnTitle {
			font-size: 4.5026vw;
			line-height: 6.4103vw;
		}
		.columnItem {
			font-size: 3.5026vw;
        line-height: 6.4103vw;
		}
		.feedback {
			margin-top: 2vw;
			padding: 2.5vw;
			max-width: none;
			.link {
				font-size: 3.5026vw;
        line-height: 5.4103vw;
			}
			p {
				font-size: 3.5026vw;
        line-height: 5.4103vw;
		
			}
			button {
				font-size: 3.5026vw;
        line-height: 6.4103vw;
			}
		}
	}
	.footer__bottom {
		flex-direction: column;
		gap: 4vw;
		.logo {
			img {
				height: 24px;
			}
		}
		.socialLink {
			svg {
				width: 28px;
				height: 28px;
			}
			span {
				font-size: 3.5026vw;
        line-height: 5.4103vw;
			}
		}
	}
}
